.wrap{
    background-color: #FCFCF3;
}
.article{
     background-color: #fff;
     padding: 5%;
     border-top-left-radius: 3%;
     border-top-right-radius: 3%;
}
.article h1{
    color:#999;
    padding-bottom: 5%;
    border-bottom: 2px solid #eee;
}

.article img{
    max-width: 100%;
}
